<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-900 text-white">
    <div class="w-full min-h-screen bg-zinc-900 text-white flex flex-col items-center">
        <div class="w-full flex justify-end">
            <a href="/logout"
                class="bg-red-600 text-white text-center rounded-md px-3 py-2 w-1/12 mt-3 mr-3 inline-block hover:bg-red-700">Logout</a>
        </div>
        <h2 class="text-4xl mt-2 mb-1 text-center">Edit Post</h2>
        </h3>
        <form method="post" action="/update/<%=post._id%>" method="post" class="flex flex-col gap-2 justify-center align-middle w-1/3">

            <textarea
                class="w-full h-48 px-3 py-2 mt-8 resize-none outline-none rounded-md bg-zinc-700" name="content"><%=post.content%></textarea>
            <input
                class="px-4 py-2 mt-3 justify-center items-center outline-none rounded-md bg-blue-600 hover:bg-blue-800"
                type="submit" value="Save post">

        </form>
    </div>
</body>

</html>